{% extends "layout.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block main %}
    <!-- <form action="/signup" method="post">
        <div class="form-group">
            <input required class="form-control" type="text" autofocus autocomplete="off" name="address" placeholder="example@owmail.co">
        </div>
        <div class="form-group">
            <input required class="form-control" type="password" autofocus name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input required class="form-control" type="password" autofocus name="confirm" placeholder="Confirm Password">
        </div>
        <button  class="btn btn-dark" type="submit">Sign Up</button>
    </form> -->
    <h2>We are not accepting sign ups right now. Please log in if you have an account</h2> 
{% endblock %}